/* body {
     background-color: gray;

overflow: hidden;
padding: 0px;
margin: 0%;
}
#gameBoard {
    
    position:absolute;
    bottom: 0%;
    width: 60vh;
    height: 100vh;
    border: 1px solid black;
    transform: translateX(-50%);
   left:50%;
   display: flex;

} */
 body {
    margin: 0;
    overflow: hidden;
     background-color: gray;
}

#gameBoard {
    position: absolute;
    left: 50%;
    bottom: 0;

    height: 100dvh;
    aspect-ratio: 9 / 15;

    transform: translateX(-50%);
    border: 1px solid black;
}
.Board {
background-color: black;
    /* border-top-left-radius: 40px;
    border-top-right-radius: 40px; */
}
#infoBar {
    position: absolute;
    top: 2%;
    width: 100vw;
    height: 7%;
    border-radius: 40px;


}